.h3 {
  color: red;
  font-size: 25px;
  font-size: 20px;
}
.p {
  color: #fff;
  font-size: 16px;
  font-size: 20px;
}

.link {
  font-size: 1.2rem;
  color: #6c18fd;

  padding: 10px 20px;
  border-radius: 5px;
}

.Av {
  color: #fff;
  font-size: 16px;
  font-size: 17px;
}
