body {
  margin: 0;
}

.background {
  background-image: url(../images/svg/car.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.text {
  font-size: 20px;
}

.nav {
  background-color: #0ff0fc;
}

.nav {
  display: flex;
  gap: 10px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
}

.nav a.active {
  background-color: #8931c8;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  background-color: #8d38c9;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
